<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350893502662-ms5totm5vp3coacn0d802pa3sa96p3m3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350893502662-ms5totm5vp3coacn0d802pa3sa96p3m3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>350893502662-56hno2ocb3plt75rpba0i5rms073l7fs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAxRqnDmztVcaozBa0spxcOSEzg48vLj6U</string>
	<key>GCM_SENDER_ID</key>
	<string>350893502662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.connectapp</string>
	<key>PROJECT_ID</key>
	<string>connectapp-3845e</string>
	<key>STORAGE_BUCKET</key>
	<string>connectapp-3845e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350893502662:ios:5b343cc1aa43da7830e7c7</string>
</dict>
</plist>